@import '../../../scss/variables';

.input {
  &__field {
    padding: 10px 15px;
    border: 1px solid $color-text;
    border-radius: 15px;
    background-color: $color-card-bg;
    font-size: 18px;
    color: $color-text;
    outline: none;
    transition: all 0.2s;

    &:hover,
    &:focus {
      border: 1px solid $color-button;
      background-color: white;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}
