@import '../../scss/variables.scss';

.product {
  margin-top: 10px;
  padding: 20px;
  background-color: $color-card-bg;
  border-radius: 10px;
  color: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__notFound {
    margin-top: 20px;
    font-size: 30px;
    color: $color-light;
    text-align: center;
  }

  &__breadCrumbs {
    margin-bottom: 50px;
    height: 50px;
    font-size: 20px;
    color: lighten(#ffff00, 35%);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__categories {
    width: calc(100% - 300px - 50px);
    p {
      min-height: 50px;
      border-bottom: 1px solid $color-text;
      font-size: 18px;
      line-height: 50px;

      span {
        font-size: 20px;
        color: $color-input-checked;
      }
    }
  }

  &__name {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    p {
      font-size: 26px;
      text-transform: uppercase;
      border-bottom: none;
    }
  }

  &__brand {
    color: $color-input-checked;
  }

  &__rating {
    margin-bottom: 60px;
    width: 160px;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
  }

  &__buttons {
    width: 410px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    margin-top: 20px;
    padding: 10px 20px;
    width: 200px;
    border-radius: 5px;
    background-color: $color-button;
    font-size: 20px;
    color: $color-light;

    &:hover {
      background-color: darken($color-button, 15%);
      cursor: pointer;
    }

    &_added {
      background-color: $color-input-checked;
    }
  }
}

.photo {
  width: 300px;
  display: flex;
  flex-direction: column;

  &__mainPhoto {
    margin-bottom: 10px;
    min-height: 300px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__miniPhotos {
    height: 100px;
    display: flex;
    justify-content: space-between;
  }

  &__miniPhoto {
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      box-shadow: $color-input-checked 0 2px 8px 0px;
      cursor: pointer;
    }
  }
}

@media (max-width: 850px) {
  .product {
    &__info {
      flex-direction: column;
    }

    &__categories {
      padding-right: 20px;
      padding-left: 20px;
      width: 100%;
    }

    .photo {
      margin-bottom: 30px;
    }

    &__buttons {
      margin: 0 auto;
    }
  }
}

@media (max-width: 740px) {
  .product {
    &__buttons {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 500px) {
  .product {
    &__buttons {
      width: 200px;
    }
  }
}

@media (max-width: 400px) {
  .product {
    &__bread–°rumbs {
      font-size: 16px;
    }

    &__name {
      p {
        font-size: 18px;
      }
    }
  }
}
