@import '../../../scss/variables';

.list {
  margin: auto;
  width: 700px;
  color: $color-light;

  &__title {
    font-size: 2.4rem;
    padding-top: 10px;
    border-bottom: 2px solid #35363a;
  }
}
