@import './scss/variables.scss';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  background-color: $color-main-bg;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track-piece {
  background-color: $color-main-bg;
}
::-webkit-scrollbar-thumb {
  background-color: $color-card-bg;
  border-radius: 3px;
}
