@import '../../scss/variables.scss';

$button-size: 2.5rem;

.button {
  height: $button-size;
  width: $button-size;
  font-size: $button-size;
  color: $color-button;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

