@import '../../scss/variables.scss';

.footer {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-card-bg;
}

.footerGithub,
.footerYear,
.footerLogo {
  display: block;
}

.footerGithub,
.footerYear {
  font-size: 20px;
  letter-spacing: 3px;
  color: $color-light;
}

.footerLogo {
  width: 75px;
  height: 50px;
}
