@import '../../../scss/variables.scss';

.goodsCard {
  height: 100%;
  background-color: $color-card-bg;
  border-radius: 10px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &__rating,
  &__title,
  &__price,
  &__button {
    color: $color-light;
  }

  &__title,
  &__price {
    font-size: 18px;
  }

  &__rating {
    height: 25px;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: $color-card-bg;
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  &__ratingCount {
    margin-left: 5px;
  }

  &__imageWrapper {
    height: 220px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__info {
    padding: 20px 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
  }

  & .info {
    &__leftSide,
    &__rightSide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__leftSide {
      width: 65%;
      align-items: flex-start;
    }

    &__rightSide {
      align-items: center;
    }
  }

  &__description {
    width: 100%;
    color: $color-goods-description;
  }

  &__price {
    display: flex;
    line-height: 1.6rem;
  }

  &__button {
    padding: 10px;
    background-color: $color-button;
    border-radius: 20px;

    &:hover {
      background-color: darken($color-button, 15%);
      cursor: pointer;
    }
  }
}

.grid {
  width: calc(
    (100% / $count-goods-per-line) -
      (
        ($size-goods-page-gap * ($count-goods-per-line - 1)) /
          $count-goods-per-line
      )
  );
  height: 320px;
}

.list {
  width: 100%;
  height: 200px;

  .goodsCard {
    width: 100%;
    display: flex;

    &__imageWrapper {
      width: 40%;
      height: 100%;
    }

    &__info {
      padding-left: 20px;
      padding-right: 20px;
      width: 60%;
      height: 80%;
    }

    &__title {
      font-size: 24px;
    }

    &__description {
      font-size: 18px;
    }

    &__price {
      align-items: center;
      font-size: 24px;
    }

    &__button {
      padding: 10px 20px;
      font-size: 18px;
    }

    & .info {
      &__rightSide {
        align-items: flex-end;
      }
    }
  }
}
