@import '../../scss/variables.scss';

.logo {
  display: flex;
  align-items: center;

  &__image {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  &__title {
    color: $color-light;

    &_selected {
      color: $color-button;
    }
  }
}
