@import 'constants';

@mixin media-desktop {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin small-media-mobile {
  @media (max-width: $small-mobile-width) {
    @content;
  }
}
