$color-main-bg: #202124;
$color-text: #6a6a6d;
$color-light: #ffffff;
$color-card-bg: #35363a;
$color-input-checked: #84a8ec;
$color-button: #1c64ec;
$color-goods-description: #818282;
$color-cart-count: #ffff00;

$size-content-width: 1200px;
$size-filter-mb: 20px;
$size-goods-page-gap: 20px;
$count-goods-per-line: 3;
