@import '../../../scss/variables.scss';

.checkboxFilter {
  margin-bottom: 15px;
  height: 300px;

  &__title {
    margin-bottom: $size-filter-mb;
    color: $color-light;
  }

  &__list {
    padding-right: 5px;
    height: 260px;
    overflow-y: scroll;
  }
}
