@import '../../../scss/variables';

.summary {
  margin: auto;
  padding: 15px 0;
  color: $color-light;

  &__block {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    margin: 5px;
    width: 300px;
    background-color: $color-card-bg;
    border-radius: 15px;
  }

  &__title {
    text-align: center;
    font-size: 2.4rem;
    border-bottom: 2px solid #35363a;
  }

  &__colorText {
    color: $color-input-checked;
  }
  &__promo {
    text-decoration: line-through;
  }
  &__promos {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__discount {
    margin: 10px 0 0;
    text-align: center;
  }
  &__test {
    color: $color-text;
    font-size: 1.6rem;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px 15px;
    height: 30px;
    color: $color-button;
    border-radius: 10px;
    border: 1px solid $color-input-checked;
    font-size: 1.5rem;
    background-color: $color-card-bg;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
      background-color: #093c99;
      color: $color-input-checked;
      border: none;
    }
  }

  &__button {
    width: 150px;
    height: 40px;
    border: 1px solid $color-input-checked;
    border-radius: 10px;
    font-size: 1.8rem;
    color: $color-button;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
      background-color: #093c99;
      color: $color-input-checked;
      border: none;
    }

    &:disabled {
      transform: none;
      background-color: $color-card-bg;
      color: $color-input-checked;
      border: none;
      cursor: auto;
    }
  }
}
